- title "Checkin"

%p
  = link_to(image_tag(@checkin.member.photo.url(:thumb)), @checkin.member) unless @checkin.member.photo.updated_at.nil?
%p
  = link_to @checkin.member.full_name, @checkin.member

%p
  = link_to "Edit", edit_checkin_path(@checkin)
  |
  = link_to "Destroy", @checkin, :confirm => 'Are you sure?', :method => :delete
  |
  = link_to "View All", checkins_path
