= form_for @member, html: { :multipart => true }  do |f|
  = f.error_messages
  %p
    = f.label :photo
    %br
    = image_tag @member.photo.url(:small)  unless @member.photo.updated_at.nil?
    %br
    = f.file_field :photo
  %p
    = f.label :first_name
    %br
    = f.text_field :first_name
  %p
    = f.label :last_name
    %br
    = f.text_field :last_name
  %p
    = f.submit
