- title @member.first_name + ' ' + @member.last_name
%p
  = image_tag @member.photo.url(:medium) unless @member.photo.updated_at.nil?
%p
  = button_to 'check in', member_checkins_path(@member), action: 'create', id: 'checkin'
%p
  = image_tag @qr_code.to_s
%p
  = link_to "Edit", edit_member_path(@member)
  |
  = link_to "Destroy", @member, :confirm => 'Are you sure?', :method => :delete
  |
  = link_to "View All", members_path
